.asc {
  &__width {
    min-width: 1800px;
  }

  &__level-icon {
    width: 120px;
    height: 116px;
    margin: 0px 25px 0px 25px;
  }

  &__tally {
    font-size: 25px;
    align-items: flex-start;
  }

  &__big-tally {
    font-size: 50px;
  }

  &__character {
    &__levels {
      color: $lightest-aqua;
      min-width: 900px;
      max-height: 500px;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 25px;
      margin-left: auto;
    }

    &__lists {
      min-width: 900px;
      max-height: 500px;
      min-height: 500px;
      color: $lightest-aqua;
      display: flex;
      margin-right: auto;
      p {
        margin: 0px;
      }

      &__tally {
        font-size: 25px;
      }

      &__list {
        overflow: auto;
      }

      &__recipes {
        min-width: 220px;
      }

      &__bonuses {
        min-width: 400px;
      }

      &__feats {
        min-width: 210px;
      }
    }
  }

  &__title {
    color: $lightest-aqua;
    font-size: 35px;
    display: flex;
    justify-content: center;

    &__points {
      transform: translateX(-500px);
      width: 500px;
      display: flex;
      justify-content: center;
    }

    &__tab {
      display: flex;
      justify-content: center;
      width: 500px;
    }

    &__seperator {
      margin: 0px 5px 0px 5px
    }
  }

  &__nav {
    &__wrapper {
      margin: 5px auto 5px auto;
    }

    &__icon {
      width: 40px;
      height: 40px;
    }

    &__skillpoint-wrapper {
      background-color: black;
      height: 15px;
      color: white;
    }

    &__button {
      background-color: $red;
      border-radius: 4px;
      padding: 4px;
      border: 4px;
      &:hover {
        background-color: $green;
      }
    }

    &__button-enabled {
      background-color: black;
    }

    &__build-name {
      font-size: 30px;
      margin: 0px;
      overflow-x: auto;
    }

    &__save-wrapper {
      position: absolute;
      transform: translateX(-475px) translateY(-50%);
      width: 475px;
      height: 76px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__save-button {
      font-size: 18px;
      padding: 5px 10px;
      background-color: white;
      color: black;
    }
  }

  &__skill-tooltip {
    &__wrapper {
      position: absolute;
      background-color: black;
      z-index: 1;
      padding: 5px;
      color: white;
      transform-origin: bottom right;
    }

    &__skillpoint {
      margin-left: 5px;
    }

    &__data {
      margin-left: 10px;
    }
  }

  &__save {
    &__modal-wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      display: flex;
    }

    &__modal {
      margin: auto;
      background-color: black;
      border: 5px solid white;
      color: $lightest-aqua;
      display: flex;
      flex-direction: column;
      min-height: 800px;
      max-height: 800px;
      min-width: 700px;
      max-width: 700px;
    }

    &__button {
      font-size: 18px;
      padding: 5px 10px;
      background-color: white;
      color: black;
      margin: 5px 10px;
      &:disabled {
        background-color: $red;
      }
    }

    &__builds-wrapper {
      overflow: auto;
    }

    &__build-wrapper {
      border: 3px solid transparent;
    }

    &__build-selected {
      border: 3px solid $green;
    }

    &__build-loaded {
      color: $green;
    }

    &__build {
      font-size: 25px;
      padding: 0px;
      margin: 5px 0px;
    }

  }
}
